body{
    background-color: black;
}

.login{
    font-family: monospace;
    color: green;
}

.text {
    font-family: monospace;
    color: white;
}

.chat{
    font-family: monospace;
    color: white;

    height: 80vh;
    background-color: rgb(25, 25, 25);
    overflow: scroll;

    display: flex;
    flex-direction: column-reverse;
}

::-webkit-scrollbar{
    width: 10px;
}

.error{
    font-family: monospace;
    color: red;
}

.input{
    position: absolute;
    margin: auto;
    width: 80%;
    bottom: 10px;
    font-family: monospace;

    border-width: 2px;
    border-color: gray;
}

.send {
    position: absolute;
    bottom: 40px;
    font-family: monospace;
    
    border-width: 2px;
    border-color: gray;
}